{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite,?scssphp' output="css/admin.css"
        'bundles/sonataformatter/markitup/skins/sonata/style.css'
        'bundles/sonataformatter/markitup/sets/markdown/style.css'
        'bundles/sonataformatter/markitup/sets/html/style.css'
        'bundles/sonataformatter/markitup/sets/textile/style.css'
        'bundles/app/sass/admin.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="all" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="{{ asset('bundles/ivoryckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/vendor/markitup-markitup/markitup/jquery.markitup.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/markdown/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/html/set.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/sonataformatter/markitup/sets/textile/set.js') }}" type="text/javascript"></script>
{% endblock %}

{% block sonata_sidebar_search %}
{% endblock sonata_sidebar_search %}

{% block logo %}
    {% spaceless %}
        <a class="logo" href="{{ path('homepage') }}">
            {% if 'single_image' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <img src="{{ asset(sonata_admin.adminPool.titlelogo) }}" alt="{{ sonata_admin.adminPool.title }}">
            {% endif %}
            {% if 'single_text' == sonata_admin.adminPool.getOption('title_mode') or 'both' == sonata_admin.adminPool.getOption('title_mode') %}
                <span>{{ sonata_admin.adminPool.title }}</span>
            {% endif %}
        </a>
    {% endspaceless %}
{% endblock %}