{% extends 'AppBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
        "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css"
        "https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css"
        "https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.css"
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets 'bundles/app/sass/index.scss' filter="scssphp" output="css/index.css" %}
        <link  rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter="?jsqueeze" output="js/minified/home.js"
            'https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js'
            'https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js'
            '@AppBundle/Resources/public/js/my.jcarousel.js'
        %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
    {% embed 'AppBundle:Includes:header.html.twig' %}
        {% block contact_social %}
            {% include 'AppBundle:Includes:contactSocial.html.twig' %}
        {% endblock %}
        {% block logo %}
            <div class="logo">
                {% image '@AppBundle/Resources/public/images/template/logo.png' %}
                    <img src="{{ asset_url }}" alt="" />
                {% endimage %}</div>
        {% endblock %}
        {% block realtyicons %}
            {{ sonata_block_render({'type':'domstor.template.block.realtyicons.service'}) }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block content %}
    {{ sonata_block_render({'type':'domstor.template.block.home.slider.service'}) }}
    {% include 'AppBundle:Includes:about.html.twig' %}
    {{ sonata_block_render({'type':'domstor.template.block.home.special_offer.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.urgent_sale.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.review.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.employee.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.partner.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.vacancy.service'}) }}
    {{ sonata_block_render({'type':'domstor.template.block.home.post.service'}) }}
    {% include 'AppBundle:Includes:map.html.twig' %}
            
{% endblock %}
            


{% block content_js %}
    
{% endblock %}
