{% extends "AppBundle::internal_pages.html.twig" %}

{% block title %}{{ parent() }}. Отзывы{% endblock %}

{% block breadcrumbs %}
    <a href="{{ url('app_home_index') }}">Главная</a> / Отзывы
{% endblock %}

{% block content %}
    <h1>Отзывы</h1>
    <div class="reviews_inners">
        {% for row in pagination %}
            <div class="review">
                <p><a href="{{ path('app_reviews_show', {'review':row.id}) }}" title="Смотреть отзыв полностью">{{ row.text|length > 298 ? row.text|slice(0, 298) ~ '...' : row.text }}</a></p>
                <p class="data">{{ row.reviewDate|date('d.m.Y') }}</p>
                <p class="signature">{{ row.author }}</p>
            </div>
        {% endfor %}
    </div>
    {{ knp_pagination_render(pagination) }}
{% endblock %}
